<mosaic-card>
  <mosaic-card-body>
    <mosaic-card-header class="pt-0 px-0" title="Insights"></mosaic-card-header>
    <mosaic-row>
      <mosaic-col md="4">
        <mosaic-card>
          <mosaic-card-header title="On And Off Catalogue Orders"></mosaic-card-header>
          <mosaic-card-body>
            <div id="chart1"></div>
          </mosaic-card-body>
        </mosaic-card>
      </mosaic-col>
      <mosaic-col md="4">
        <mosaic-card>
          <mosaic-card-header title="Goods Receipting"></mosaic-card-header>
          <mosaic-card-body>
            <div id="chart2"></div>
          </mosaic-card-body>
        </mosaic-card>
      </mosaic-col>
      <mosaic-col md="4">
        <mosaic-card>
          <mosaic-card-header title="Highest Spend Suppliers"></mosaic-card-header>
          <mosaic-card-body>
            <div id="chart3"></div>
          </mosaic-card-body>
        </mosaic-card>
      </mosaic-col>
    </mosaic-row>
  </mosaic-card-body>
</mosaic-card>
