<mosaic-card color="primary">
  <mosaic-card-body>
    <p>Haven't found a product from your supplier?</p>
    <mosaic-button color="light" outline block>Order Using Free Format</mosaic-button>
  </mosaic-card-body>
</mosaic-card>
<mosaic-card color="light">
  <mosaic-card-body>
    <p>PunchOuts</p>
    <mosaic-tile title="Google" icon="google" block></mosaic-tile>
    <mosaic-tile title="Amazon" icon="amazon" block></mosaic-tile>
    <mosaic-tile title="Facebook" icon="facebook" block></mosaic-tile>
    <mosaic-tile title="Netflix" icon="netflix" block></mosaic-tile>
  </mosaic-card-body>
</mosaic-card>
<mosaic-card color="light">
  <mosaic-card-body>
    <p>Do you need to make an Oligo order?</p>
    <mosaic-button>Order Oligo</mosaic-button>
  </mosaic-card-body>
</mosaic-card>
<mosaic-card color="light">
  <mosaic-card-body>
    <p>Do you want to negotiate a price?</p>
    <mosaic-button>Get a quote</mosaic-button>
  </mosaic-card-body>
</mosaic-card>
<mosaic-card color="light">
  <mosaic-card-body>
    <p>Do you need to request a service?</p>
    <mosaic-button>Order eServices</mosaic-button>
  </mosaic-card-body>
</mosaic-card>
