<mosaic-container top fixed navbar>

  <mosaic-app-name name="Mosaic"></mosaic-app-name>

  <mosaic-navigation desktop>
    <mosaic-button icon="menu" toggle-container="4253515266">Hide Sidebar</mosaic-button>
    <mosaic-button icon="info">Resource Centre</mosaic-button>
    <mosaic-dropdown icon="user_shield" title="Admin">
      <mosaic-button>Catalogue Update</mosaic-button>
      <mosaic-button>Attribute Manager</mosaic-button>
      <mosaic-button>Marketplace Admin</mosaic-button>
    </mosaic-dropdown>
    <mosaic-dropdown color="info" icon="user" title="My Account">
      <mosaic-button>Orders</mosaic-button>
      <mosaic-button>Invoices</mosaic-button>
      <mosaic-button>Quotes</mosaic-button>
      <mosaic-button>Log out</mosaic-button>
    </mosaic-dropdown>
    <mosaic-dropdown icon="settings" title="Settings">
      <mosaic-button>Configure Homepage</mosaic-button>
      <mosaic-button>Configure Insights</mosaic-button>
      <mosaic-button>Customisation</mosaic-button>
    </mosaic-dropdown>
    <mosaic-button icon="shopping_basket" title="Basket">View Basket</mosaic-button>
  </mosaic-navigation>

</mosaic-container>
