<dashboard-ui-search-product></dashboard-ui-search-product>
<mosaic-row class="row">
  <mosaic-col md="12">
    <dashboard-ui-marketplace-news></dashboard-ui-marketplace-news>
    <dashboard-ui-insights></dashboard-ui-insights>
    <dashboard-ui-marketplace-update></dashboard-ui-marketplace-update>
  </mosaic-col>

  <mosaic-col class="more-orders-sidebar" md="3" [@slideHorizontalInOut]="isShowingMoreOrders? 'in': 'out'">
    <dashboard-ui-more-order-types></dashboard-ui-more-order-types>
  </mosaic-col>
</mosaic-row>
