<mosaic-card>
  <mosaic-card-header title="Manage Orders"></mosaic-card-header>
  <mosaic-card-body>
    <mosaic-tabs active-index="0" vertical>
      <mosaic-tab-pane title="Latest Orders">
        <mosaic-table>
          <table>
            <thead>
            <tr>
              <th>NUMBER</th>
              <th>CREATED</th>
              <th>SUPPLIER</th>
              <th>TOTAL</th>
              <th>STATUS</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>123123123</td>
              <td>06 Mar 20</td>
              <td>Future Testing EURO</td>
              <td>90.48</td>
              <td>Supplier Accepted</td>
            </tr>
            <tr>
              <td>123123123</td>
              <td>06 Mar 20</td>
              <td>Future Testing EURO</td>
              <td>90.48</td>
              <td>Supplier Accepted</td>
            </tr>
            <tr>
              <td>123123123</td>
              <td>06 Mar 20</td>
              <td>Future Testing EURO</td>
              <td>90.48</td>
              <td>Supplier Accepted</td>
            </tr>
            </tbody>
          </table>
        </mosaic-table>
      </mosaic-tab-pane>
      <mosaic-tab-pane title="Pending Supplier Acceptance">
        <mosaic-table>
          <table>
            <thead>
            <tr>
              <th>NUMBER</th>
              <th>CREATED</th>
              <th>SUPPLIER</th>
              <th>TOTAL</th>
              <th>STATUS</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>123123123</td>
              <td>06 Mar 20</td>
              <td>Future Testing EURO</td>
              <td>90.48</td>
              <td>Supplier Accepted</td>
            </tr>
            <tr>
              <td>123123123</td>
              <td>06 Mar 20</td>
              <td>Future Testing EURO</td>
              <td>90.48</td>
              <td>Supplier Accepted</td>
            </tr>
            <tr>
              <td>123123123</td>
              <td>06 Mar 20</td>
              <td>Future Testing EURO</td>
              <td>90.48</td>
              <td>Supplier Accepted</td>
            </tr>
            </tbody>
          </table>
        </mosaic-table>
      </mosaic-tab-pane>
      <mosaic-tab-pane title="Accepted By Supplier">
        <mosaic-table>
          <table>
            <thead>
            <tr>
              <th>NUMBER</th>
              <th>CREATED</th>
              <th>SUPPLIER</th>
              <th>TOTAL</th>
              <th>STATUS</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>123123123</td>
              <td>06 Mar 20</td>
              <td>Future Testing EURO</td>
              <td>90.48</td>
              <td>Supplier Accepted</td>
            </tr>
            <tr>
              <td>123123123</td>
              <td>06 Mar 20</td>
              <td>Future Testing EURO</td>
              <td>90.48</td>
              <td>Supplier Accepted</td>
            </tr>
            <tr>
              <td>123123123</td>
              <td>06 Mar 20</td>
              <td>Future Testing EURO</td>
              <td>90.48</td>
              <td>Supplier Accepted</td>
            </tr>
            </tbody>
          </table>
        </mosaic-table>
      </mosaic-tab-pane>
      <mosaic-tab-pane title="Shipped">
        <mosaic-table>
          <table>
            <thead>
            <tr>
              <th>NUMBER</th>
              <th>CREATED</th>
              <th>SUPPLIER</th>
              <th>TOTAL</th>
              <th>STATUS</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>123123123</td>
              <td>06 Mar 20</td>
              <td>Future Testing EURO</td>
              <td>90.48</td>
              <td>Supplier Accepted</td>
            </tr>
            <tr>
              <td>123123123</td>
              <td>06 Mar 20</td>
              <td>Future Testing EURO</td>
              <td>90.48</td>
              <td>Supplier Accepted</td>
            </tr>
            <tr>
              <td>123123123</td>
              <td>06 Mar 20</td>
              <td>Future Testing EURO</td>
              <td>90.48</td>
              <td>Supplier Accepted</td>
            </tr>
            </tbody>
          </table>
        </mosaic-table>
      </mosaic-tab-pane>
      <mosaic-tab-pane title="Rejected/Cancelled">
        <mosaic-table>
          <table>
            <thead>
            <tr>
              <th>NUMBER</th>
              <th>CREATED</th>
              <th>SUPPLIER</th>
              <th>TOTAL</th>
              <th>STATUS</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>123123123</td>
              <td>06 Mar 20</td>
              <td>Future Testing EURO</td>
              <td>90.48</td>
              <td>Supplier Accepted</td>
            </tr>
            <tr>
              <td>123123123</td>
              <td>06 Mar 20</td>
              <td>Future Testing EURO</td>
              <td>90.48</td>
              <td>Supplier Accepted</td>
            </tr>
            <tr>
              <td>123123123</td>
              <td>06 Mar 20</td>
              <td>Future Testing EURO</td>
              <td>90.48</td>
              <td>Supplier Accepted</td>
            </tr>
            </tbody>
          </table>
        </mosaic-table>
      </mosaic-tab-pane>
    </mosaic-tabs>
  </mosaic-card-body>
</mosaic-card>
