<mosaic-accordion spaced>
  <mosaic-accordion-item label="Refine" icon="school">
    (could not find check box in mosaic components)
    <mosaic-text-input placeholder="Refine or exclude products by keywords..."></mosaic-text-input>
    <mosaic-button-group size="sm" block>
      <mosaic-button outline>Contains</mosaic-button>
      <mosaic-button outline>Excludes</mosaic-button>
    </mosaic-button-group>
  </mosaic-accordion-item>
  <mosaic-accordion-item label="Price" icon="price_tag">
    (could not find data range input in mosaic components)
  </mosaic-accordion-item>
  <mosaic-accordion-item label="Category" icon="category">
    <mosaic-text-input placeholder="Search for Category"></mosaic-text-input>
    <div class="my-2">
      <div><a>Standard</a></div>
      <div><a>Chemicals and Reagents</a></div>
      <div><a>Gas</a></div>
      <div><a>Tests</a></div>
      <div><a>a</a></div>
    </div>
  </mosaic-accordion-item>
  <mosaic-accordion-item label="Pack Size Value" icon="variable">
    (could not find data range input in mosaic components)
  </mosaic-accordion-item>
  <mosaic-accordion-item label="Pack Size UOMs" icon="volume">
    <mosaic-text-input placeholder="Search for Category"></mosaic-text-input>
    <div class="my-2">
      <div><a>Standard</a></div>
      <div><a>Chemicals and Reagents</a></div>
      <div><a>Gas</a></div>
      <div><a>Tests</a></div>
      <div><a>a</a></div>
    </div>
  </mosaic-accordion-item>
  <mosaic-accordion-item label="Non-standardised Pack Size" icon="variable">
    <mosaic-text-input placeholder="Search for Category"></mosaic-text-input>
    <div class="my-2">
      <div><a>Standard</a></div>
      <div><a>Chemicals and Reagents</a></div>
      <div><a>Gas</a></div>
      <div><a>Tests</a></div>
      <div><a>a</a></div>
    </div>
  </mosaic-accordion-item>

</mosaic-accordion>
