<mosaic-card>
  <mosaic-card-header title="Recent Purchases"></mosaic-card-header>
  <mosaic-card-body>
    <mosaic-card-deck>
      <mosaic-card nested>
        <a class="mx-1 my-1">Max2 reusaable biopsy forcepts</a>
        <mosaic-card-body>
          <div>Supplier <b>Future Testing EURO</b></div>
          <div>Catalogue No <b>FutureEuro-53</b></div>
          <div>Mfr. Part No <b>RBF-2.4-160-S</b></div>
        </mosaic-card-body>
        <img src="https://via.placeholder.com/318" alt="Card image cap">
        <mosaic-search-input name="quantity" block placeholder="Quantity" class="mb-0">
          <mosaic-button icon="plus_math" icon-only color="primary"></mosaic-button>
        </mosaic-search-input>
      </mosaic-card>
      <mosaic-card nested>
        <a class="mx-1 my-1">Max2 reusaable biopsy forcepts</a>
        <mosaic-card-body>
          <div>Supplier <b>Future Testing EURO</b></div>
          <div>Catalogue No <b>FutureEuro-53</b></div>
          <div>Mfr. Part No <b>RBF-2.4-160-S</b></div>
        </mosaic-card-body>
        <img src="https://via.placeholder.com/318" alt="Card image cap">
        <mosaic-search-input name="quantity" block placeholder="Quantity" class="mb-0">
          <mosaic-button icon="plus_math" icon-only color="primary"></mosaic-button>
        </mosaic-search-input>
      </mosaic-card>
      <mosaic-card nested>
        <a class="mx-1 my-1">Max2 reusaable biopsy forcepts</a>
        <mosaic-card-body>
          <div>Supplier <b>Future Testing EURO</b></div>
          <div>Catalogue No <b>FutureEuro-53</b></div>
          <div>Mfr. Part No <b>RBF-2.4-160-S</b></div>
        </mosaic-card-body>
        <img src="https://via.placeholder.com/318" alt="Card image cap">
        <mosaic-search-input name="quantity" block placeholder="Quantity" class="mb-0">
          <mosaic-button icon="plus_math" icon-only color="primary"></mosaic-button>
        </mosaic-search-input>
      </mosaic-card>
      <mosaic-card nested>
        <a class="mx-1 my-1">Max2 reusaable biopsy forcepts</a>
        <mosaic-card-body>
          <div>Supplier <b>Future Testing EURO</b></div>
          <div>Catalogue No <b>FutureEuro-53</b></div>
          <div>Mfr. Part No <b>RBF-2.4-160-S</b></div>
        </mosaic-card-body>
        <img src="https://via.placeholder.com/318" alt="Card image cap">
        <mosaic-search-input name="quantity" block placeholder="Quantity" class="mb-0">
          <mosaic-button icon="plus_math" icon-only color="primary"></mosaic-button>
        </mosaic-search-input>
      </mosaic-card>
      <mosaic-card nested>
        <a class="mx-1 my-1">Max2 reusaable biopsy forcepts</a>
        <mosaic-card-body>
          <div>Supplier <b>Future Testing EURO</b></div>
          <div>Catalogue No <b>FutureEuro-53</b></div>
          <div>Mfr. Part No <b>RBF-2.4-160-S</b></div>
        </mosaic-card-body>
        <img src="https://via.placeholder.com/318" alt="Card image cap">
        <mosaic-search-input name="quantity" block placeholder="Quantity" class="mb-0">
          <mosaic-button icon="plus_math" icon-only color="primary"></mosaic-button>
        </mosaic-search-input>
      </mosaic-card>
    </mosaic-card-deck>
  </mosaic-card-body>
</mosaic-card>
