<mosaic-card color="white">
  <mosaic-card-body>
    <mosaic-row>
      <mosaic-col md="8">
        <mosaic-search-input name="search-product" block placeholder="Search Product..." valid-text="This is some valid text" invalid-text="This is some invalid text" value="{{value}}">
          <mosaic-button icon="search" color="primary" (click)="search()">Search</mosaic-button>
        </mosaic-search-input>
      </mosaic-col>
      <mosaic-col md="4">
        <mosaic-button-group block class="my-2">
          <mosaic-button icon="shopping_basket" outline>Saved Basket</mosaic-button>
          <mosaic-button icon="star" outline>Favourite Products</mosaic-button>
        </mosaic-button-group>
      </mosaic-col>
    </mosaic-row>
    <mosaic-button anchor>Browse by Category</mosaic-button>
    <mosaic-button anchor>Browse by Supplier</mosaic-button>
    <mosaic-navbar-nav-item secondary-toggle class="float-right" (click)="toggleSidebar()">
      <mosaic-button icon="shopping_basket">
        More orders
      </mosaic-button>
    </mosaic-navbar-nav-item>
  </mosaic-card-body>
</mosaic-card>


