<mosaic-navigation>
  <mosaic-title>Title</mosaic-title>
  <mosaic-button icon="bug">
    <span>Bugs</span>
    <mosaic-badge color="light" pill>810</mosaic-badge>
  </mosaic-button>

  <mosaic-button icon="info" collapse="collapseExample">Collapse</mosaic-button>
  <mosaic-collapse id="collapseExample" button>
    <mosaic-button>Collapse inner</mosaic-button>
    <mosaic-button>Collapse inner</mosaic-button>
  </mosaic-collapse>

  <mosaic-button icon="info">About</mosaic-button>

  <mosaic-drilldown>
    <mosaic-drilldown-item icon="password" title="Drilldown">
      <mosaic-button icon="home">Action</mosaic-button>
      <mosaic-drilldown-item icon="password" title="Nested drilldown">
        <mosaic-button icon="home">Action</mosaic-button>
      </mosaic-drilldown-item>
    </mosaic-drilldown-item>
  </mosaic-drilldown>

</mosaic-navigation>
